<div class="ui dimmer" ng-class="{active : active}">
    <div class="ui indeterminate text loader">Checking into our database</div>
</div>
<div class="ui middle aligned center aligned grid" id="parent">
    <div class="five wide column"></div>
    <div class="six wide column" style="margin-bottom:15%;">
        <h2 class="ui image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form" ng-submit="submit(user)">
            <div class="ui inverted red segment" ng-show="response">
                {{ response }}
            </div>
            <div class="ui stacked secondary segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address" ng-model="user.username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" ng-model="user.password">
                    </div>
                </div>
                <div class="field">
                    <input type="submit" class="ui fluid large submit teal button" value="Login"></input>
                </div>
            </div>
            <div class="ui segment">
                <p>Sample credentials</p>
                <hr />
                <p>Username : <b>user</b></p>
                <p>Password : <b>user</b></p>
            </div>
        </form>
    </div>
    <div class="five wide column"></div>
</div>
<style>
    #parent {
        background: url(../images/background.jpg) no-repeat center center fixed;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin: 0px;
    }
</style>
