<div id="parent">
    <div class="ui dimmer" ng-class="{active : active}">
        <div class="ui indeterminate text loader">Fetching the details</div>
    </div>
    <div class="ui grid result-container" ng-class="{ loading : 'loading'}">
        <div class="row">
            <div class="one wide column"></div>
            <div class="four wide column" style="font-size:large;">
                <span style="font-size:large;">Showing </span><span class="info">{{ctrl.results.length}} </span><span>results for </span><span class="info">{{ ctrl.query }}</span>
            </div>
            <div class="four wide column"></div>
            <div class="four wide column">

            </div>
        </div>
        <div class="row" style="overflow-x:auto;padding-left:40px;padding-right:40px;max-width: 99%;">
            {{ response }}
        </div>
        <div class="row" style="overflow-x:auto;padding-left:40px;padding-right:40px;max-width: 99%;">
            <table class="ui stripped table">
                <thead>
                    <tr>
                        <th>Thread Id</th>
                        <th>Thread Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Subject</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="email in ctrl.results" ng-click="getDetails(email)" ng-class-even="'positive'">
                        <td>{{ email.threadId}}</td>
                        <td>{{email.threadName | text }}</td>
                        <td>{{email.from | text }}</td>
                        <td>{{email.to | text }}</td>
                        <td>{{email.subject | text }}</td>
                        <td>{{email.text | text }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <style>
            .info {
                background-color: yellow;
                font-size: large;
            }

            #parent {
                background: url(../images/background.jpg) no-repeat center center fixed;
                background-color: #000;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                height: 100%;
                width: 100%;
                margin: 0px;
                padding-top: 40px;
            }
        </style>
    </div>
</div>
