<nav class="navbar navbar-default">
    <div class="container-fluid toolbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Node Gmail Search</a>
        </div>
    </div>
    <style>
        .navbar {
            padding: 0px !important;
            background-color: darkcyan;
        }

        .navbar a{
            text-decoration: none;
            font-size: 22px;
            color : white;
        }
    </style>
</nav>
