<div id="parent">
    <div class="ui dimmer" ng-class="{active : active}">
        <div class="ui indeterminate text loader">Trying to send your sms</div>
    </div>
    <div style="padding-left:100px;padding-right:80px;">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui mini statistic">
                    <div class="value">
                        {{query}}
                    </div>
                    <div class="label">
                        Search Query
                    </div>
                </div>
            </div>
            <div class="two wide column"></div>
            <div class="five wide column">
                <div class="ui mini statistic">
                    <div class="value">
                        {{ctrl.emails[0].threadName}}
                    </div>
                    <div class="label">
                        Thread Name
                    </div>
                </div>
            </div>
            <div class="three wide column"></div>
            <div class="two wide column">
                <div class="ui mini statistic">
                    <div class="value">
                        {{ctrl.emails[0].threadId}}
                    </div>
                    <div class="label">
                        Thread Id
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="email in ctrl.emails" style="margin-bottom:75px;margin-top:50px;">
            <div class="ui inverted piled segment" ng-class-odd="'olive'" ng-class-even="'teal'">
                <div class="ui horizontal segments">
                    <div class="ui segment" style="width:20%">
                        Subject : <b>{{email.subject}}</b>
                    </div>
                    <div class="ui segment" style="width:20%">
                        From : <b>{{email.from}}</b>
                    </div>
                    <div class="ui segment" style="width:25%">
                        To : <b>{{email.to}}</b>
                    </div>
                    <div class="ui segment" style="width:20%">
                        Date : <b>{{email.received | date}}</b>
                    </div>
                    <div class="ui segment" style="width:15%">
                        <div class="ui left icon input focus field">
                            <input type="number" ng-model="number" placeholder="Send SMS" ng-keydown="keyChange($event, email.subject)" data-tooltip="Send subject as SMS">
                            <i class="icon blue call"></i>
                        </div>
                    </div>
                </div>
                <p>
                    <span ng-bind-html="safeHtml(email.text)"></span>
                </p>
            </div>
        </div>
        <div class="ui mini modal">
            <div class="ui icon header">Node Gmail Search</div>
            <div class="content">
                <div ng-show="smsResponse == 500">
                    <p style="font-size: large;">Ohh Sorry... That's Bad...!!!</p>
                    <p>
                        <i class="remove red huge icon"></i>
                        <span style="font-size: large;">There has been some error while sending your sms. Please try after sometime.</span>
                    </p>
                </div>
                <div ng-show="smsResponse == 200">
                    <p>
                        <i class="checkmark green huge icon"></i>
                        <span style="font-size: large;">Your sms has been sent.</span>
                    </p>
                </div>
            </div>
            <div class="actions">
                <div class="ui positive right labeled icon button">
                    Okay Understood...!!
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <style>
            .segment {
                width: 100%;
            }

            #parent {
                background: url(../images/background.jpg) center center fixed;
                background-color: #000;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-repeat: repeat-y;
                background-size: cover;
                min-height: 100vh;
                width: 100%;
                margin: 0px;
                padding-bottom: 50px;
                padding-top: 40px;
            }
        </style>
    </div>
</div>
