<div class="ui dimmer" ng-class="{active : active}">
    <div class="ui indeterminate text loader">Looking for results</div>
</div>
<div style="height:100%; width: 100%;" id="parent">
    <div>
        <form class="ui form" ng-submit="search(query)">
            <div class="field">
                <div class="two fields">
                    <div class="ui left icon input focus field">
                        <input type="text" ng-model="query" placeholder="Search">
                        <i class="big blue world icon"></i>
                    </div>
                    <div class="field">
                        <button class="ui button" style="padding-left:8%;margin-left: 20px;" type="submit">
                            <i class="big blue icon search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="ui inverted red segment" ng-show="response">
                        {{ response }}
                    </div>
                </div>
                <div class="six wide column"></div>
            </div>
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="ui segment">
                        <p><b>Sample keywords to search</b></p>
                        <hr />
                        <p>meeting</p>
                        <p>seems</p>
                        <p>large</p>
                        <p>schedule</p>
                    </div>
                </div>
                <div class="six wide column"></div>
            </div>
        </form>
    </div>
</div>

<style>
    form {
        padding-left: 30%;
        padding-top: 20%;
    }

    form input {
        font-size: 18px !important;
        font-weight: bold;
    }

    #parent {
        background: url(../images/background.jpg) no-repeat center center fixed;
        background-color: #cccccc;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
